@model Service
@{
    ViewData["Title"] = "Perincian Perkhidmatan";
}
<div class="container">
    <h1 class="my-4">
        @Model.serviceName
    </h1>
    <div class="row">

        <div class="col-md-8">
            <img class="img-fluid" src="~/Assets/@Model.serviceImagePath" alt="Card image caption">
        </div>

        <div class="col-md-4">
            <h5>Deskripsi</h5>
            <p>@Model.serviceDescription</p>
            <h5>Harga</h5>
            <p>RM @Model.servicePrice</p>
            <h5>Peralatan</h5>
            <p>@Model.serviceEquipments</p>

            @if (Model.serviceCategory == "Sewaan")
            {
                <div class="btn-group">
                    <a asp-controller="Rental" asp-action="Index" asp-route-id="@Model.serviceId" type="button" class="btn btn-sm btn-outline-secondary">Mohon</a>
                </div>
            }
            else if (Model.serviceCategory == "Class")
            {
                <div class="btn-group">
                    <a asp-controller="Class" asp-action="Index" asp-route-id="@Model.serviceId" type="button" class="btn btn-sm btn-outline-secondary">Mohon</a>
                </div>
            }
            else if (Model.serviceCategory == "Sosial")
            {
                <div class="btn-group">
                    <a asp-controller="Social" asp-action="Index" asp-route-id="@Model.serviceId" type="button" class="btn btn-sm btn-outline-secondary">Mohon</a>
                </div>
            }

        </div>

    </div>
    @*<h3 class="my-4">Gambar Berkaitan</h3>

    <div class="row">

        <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                <img class="img-fluid" src="https://via.placeholder.com/500x300" alt="">
            </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                <img class="img-fluid" src="https://via.placeholder.com/500x300" alt="">
            </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                <img class="img-fluid" src="https://via.placeholder.com/500x300" alt="">
            </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                <img class="img-fluid" src="https://via.placeholder.com/500x300" alt="">
            </a>
        </div>
    </div>*@
</div>
