@model Service
@{
    Layout = "../Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Perincian Perkhidmatan";
}
<div class="container">
    <h1 class="my-4">
        @Model.serviceName
    </h1>
    <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
            <a asp-controller="Document" asp-action="Update" asp-route-id="@Model.serviceId" type="button" class="btn btn-sm btn-outline-secondary">Sunting</a>
            <a type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#confirmModal-@Model.serviceId">Padam</a>
        </div>
    </div>
    <div class="row">

        <div class="col-md-8">
            <img class="img-fluid" src="@Model.serviceAttachment" alt="Card image caption">
        </div>

        <div class="col-md-4">
            <h5>Deskripsi</h5>
            <p>@Model.serviceDescription</p>
            <h5>Harga</h5>
            <p>RM @Model.servicePrice</p>
            <h5>Peralatan</h5>
            <p>@Model.serviceEquipments</p>
        </div>

    </div>
    <h3 class="my-4">Gambar Berkaitan</h3>

    <div class="row">

        <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                <img class="img-fluid" src="https://via.placeholder.com/500x300" alt="">
            </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                <img class="img-fluid" src="https://via.placeholder.com/500x300" alt="">
            </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                <img class="img-fluid" src="https://via.placeholder.com/500x300" alt="">
            </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                <img class="img-fluid" src="https://via.placeholder.com/500x300" alt="">
            </a>
        </div>

    </div>
</div>
