@model Service
@{
    Layout = "../Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Perincian Perkhidmatan";
    Layout = "../Shared/_LayoutAdmin.cshtml";
}
<div class="container">
    <h1 class="my-4">
        @Model.serviceName
    </h1>
    <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
            <a asp-controller="Document" asp-action="Update" asp-route-id="@Model.serviceId" type="button" class="btn btn-sm btn-outline-secondary">Sunting</a>
            <a type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#confirmModal-@Model.serviceId">Padam</a>
        </div>
    </div>
    <div class="row">

        <div class="col-md-8">
            <img class="img-fluid" src="~/Assets/@Model.serviceImagePath" alt="Card image caption">
        </div>

        <div class="col-md-4">
            <h5>Deskripsi</h5>
            <p>@Model.serviceDescription</p>
            <h5>Harga</h5>
            <p>RM @Model.servicePrice</p>
            <h5>Peralatan</h5>
            <p>@Model.serviceEquipments</p>
        </div>

    </div>
    <h3 class="my-4">Gambar Berkaitan</h3>

    <div class="row">

        <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                <img class="img-fluid" src="https://via.placeholder.com/500x300" alt="">
            </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                <img class="img-fluid" src="https://via.placeholder.com/500x300" alt="">
            </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                <img class="img-fluid" src="https://via.placeholder.com/500x300" alt="">
            </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                <img class="img-fluid" src="https://via.placeholder.com/500x300" alt="">
            </a>
        </div>

    </div>
    <div class="modal fade" id="confirmModal-@Model.serviceId" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel-@Model.serviceId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel-@Model.serviceId">Sahkan Pemadaman</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Anda akan memadam data servis. Adakah anda pasti?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                    <form asp-action="Delete" method="post">
                        <input type="hidden" name="serviceId" value="@Model.serviceId" />
                        <button type="submit" class="btn btn-danger">Sahkan</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
