@{
}

<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Permohonan</h1>
            <p class="lead text-body-secondary">Lihat sejarah permohonan servis tawaran Masjid!</p>
        </div>
    </div>
</section>

@if (TempData.ContainsKey("CreateSuccessMessage"))
{
    <div class="alert alert-success" role="alert">
        @TempData["CreateSuccessMessage"]
    </div>
}

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Nama Servis</th>
            <th scope="col">Perincian</th>
            <th scope="col">Kelulusan</th>
            <th scope="col">Pembayaran</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var rental in ViewData["Rentals"] as IEnumerable<Rental>)
        {
            @if (rental.approval != null && rental.userId == ViewBag.UserId)
            {
                <tr>
                    <td>
                        @{
                            var service = ((IEnumerable<Service>)ViewData["Services"]).FirstOrDefault(s => s.serviceId == rental.serviceId);
                            if (service != null)
                            {
                                <span>@service.serviceName ( RM @service.servicePrice )</span>
                            }
                        }
                    </td>
                    <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirmModal-@rental.rentalId">Lihat</button></td>
                    <td>
                        <span>@rental.approval</span>
                    </td>
                    
                    @if (rental.approval == "Lulus" && rental.paymentId == null)
                    {
                        <td>
                            <a asp-controller="Payment" asp-action="RentalServicePay" asp-route-id="@rental.rentalId" type="button" class="btn btn-primary">Bayar</a>

                        </td>
                    }
                    else if (rental.approval == "Ditolak")
                    {
                        <td>
                            <a type="button" class="btn btn-secondary">Tiada</a>

                        </td>                        
                    }
                    else
                    {
                        <td>
                            <a type="button" class="btn btn-secondary">Selesai</a>

                        </td>
                    }
                </tr>

                <!-- Modal for confirmation -->
                <div class="modal fade" id="confirmModal-@rental.rentalId" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="confirmModalLabel">Perincian Permohonan</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div>
                                    <p>Nama Program: @rental.eventName</p>
                                    <p>Perincian Program: @rental.eventDescription</p>
                                    <p>Tarikh Mula: @rental.startDate</p>
                                    <p>Tarikh Tamat: @rental.endDate</p>
                                    <p>Nota: @rental.remarks</p>
                                    <p>Lampiran:<a href="@Url.Action("Download", "Document", new { id = rental.rentalId })" class="btn btn-primary" download>Muat Turun PDF</a></p>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kembali</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        @foreach (var social in ViewData["Socials"] as IEnumerable<Social>)
        {
            @if (social.approval != null)
            {
                <tr>
                    <td>
                        @{
                            var service = ((IEnumerable<Service>)ViewData["Services"]).FirstOrDefault(s => s.serviceId == social.serviceId);
                            if (service != null)
                            {
                                <span>@service.serviceName ( RM @service.servicePrice )</span>
                            }
                        }
                    </td>
                    <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirmModal2-@social.socialId">Lihat</button></td>
                    <td>
                        <span>@social.approval</span>
                    </td>

                    @if (social.approval == "Lulus" && social.paymentId == null)
                    {
                        <td>
                            <a asp-controller="Payment" asp-action="SocialServicePay" asp-route-id="@social.socialId" type="button" class="btn btn-primary">Bayar</a>

                        </td>
                    }
                    else if (social.approval == "Ditolak")
                    {
                        <td>
                            <a type="button" class="btn btn-secondary">Tiada</a>

                        </td>
                    }
                    else
                    {
                        <td>
                            <a type="button" class="btn btn-secondary">Selesai</a>

                        </td>
                    }
                </tr>

                <!-- Modal for confirmation -->
                <div class="modal fade" id="confirmModal2-@social.socialId" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="confirmModalLabel">Perincian Permohonan</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div>
                                    <p>Tarikh Program: @social.eventDate</p>
                                    <p>Masa Program: @social.eventTime</p>
                                    <p>Nota: @social.remarks</p>
                                    <p>Lampiran:<a href="@Url.Action("Download", "Document", new { id = social.socialId })" class="btn btn-primary" download>Download PDF</a></p>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kembali</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        @foreach (var classes in ViewData["Classes"] as IEnumerable<Class>)
        {
            @if (classes.approval != null)
            {
                <tr>
                    <td>
                        @{
                            var service = ((IEnumerable<Service>)ViewData["Services"]).FirstOrDefault(s => s.serviceId == classes.serviceId);
                            if (service != null)
                            {
                                <span>@service.serviceName ( RM @service.servicePrice )</span>
                            }
                        }
                    </td>
                    <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirmModal3">Lihat</button></td>
                    <td>
                        <span>@classes.approval</span>
                    </td>

                    @if (classes.approval == "Lulus" && classes.paymentId == null)
                    {
                        <td>
                            <a asp-controller="Payment" asp-action="ClassServicePay" asp-route-id="@classes.classId" type="button" class="btn btn-primary">Bayar</a>

                        </td>
                    }
                    else if (classes.approval == "Ditolak")
                    {
                        <td>
                            <a type="button" class="btn btn-secondary">Tiada</a>
                        </td>
                    }
                    else
                    {
                        <td>
                            <a type="button" class="btn btn-secondary">Selesai</a>
                        </td>
                    }
                </tr>

                <!-- Modal for confirmation -->
                <div class="modal fade" id="confirmModal3-@classes.classId" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="confirmModalLabel">Perincian Permohonan</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div>
                                    <p>Keperluan: @classes.equipment</p>
                                    <p>Nota: @classes.remarks</p>
                                    <p>Lampiran:<a href="@Url.Action("Download", "Document", new { id = @classes.classId })" class="btn btn-primary" download>Download PDF</a></p>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kembali</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </tbody>
</table>