@{
    ViewData["Title"] = "Iklan Perniagaan";
}

<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Iklan Perniagaan</h1>
            <p class="lead text-body-secondary">Luaskan capaian perniagaan anda!</p>
        </div>
    </div>
    <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
            <a asp-controller="Business" asp-action="Create" type="button" class="btn btn-sm btn-outline-secondary">Tambah</a>
        </div>

        @if (TempData.ContainsKey("CreateSuccessMessage"))
        {
            <div class="alert alert-success" role="alert">
                @TempData["CreateSuccessMessage"]
            </div>
        }
        @if (TempData.ContainsKey("UpdateSuccessMessage"))
        {
            <div class="alert alert-success" role="alert">
                @TempData["UpdateSuccessMessage"]
            </div>
        }
        @if (TempData.ContainsKey("DeleteSuccessMessage"))
        {
            <div class="alert alert-danger" role="alert">
                @TempData["DeleteSuccessMessage"]
            </div>
        }

    </div>
</section>

<div class="row mb-2">
    @foreach (var item in Model)
    {
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0">@item.marketName</h3>
                    <div class="mb-1 text-body-secondary">@item.marketContact</div>
                    <p class="card-text mb-auto">@item.marketDescription</p>

                    <div class="btn-group">
                        <a asp-controller="Business" asp-action="Update" asp-route-id="@item.marketId" type="button" class="btn btn-sm btn-outline-secondary">Sunting</a>
                        <a type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#confirmModal-@item.marketId">Padam</a>
                    </div>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img class="card-img-top" src="@item.marketAttachment" width="200" height="250" alt="Card image caption">
                </div>
            </div>
        </div>
        <div class="modal fade" id="confirmModal-@item.marketId" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel-@item.marketId" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmModalLabel-@item.marketId">Sahkan Pemadaman</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Anda akan memadam data perniagaan. Adakah anda pasti?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                        <form asp-action="Delete" method="post">
                            <input type="hidden" name="marketId" value="@item.marketId" />
                            <button type="submit" class="btn btn-danger">Sahkan</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }

</div>
